@page "/"
@using Cloudcrate.AspNetCore.Blazor.Browser.Storage;
@inject LocalStorage Storage
@inject NavigationManager NavigationManager

<h1>Are you a tenacious problem solver?</h1>


@code {
    private PuzzlePortal.Shared.RegistrationModel registrationModel = new PuzzlePortal.Shared.RegistrationModel();

    protected override void OnInitialized()
    {
        var value = Storage.GetItem<PuzzlePortal.Shared.ScoreSheetModel>("scoreSheet");
        if (value == null)
        {
            NavigationManager.NavigateTo("registration");
        }
        else
        {
            NavigationManager.NavigateTo("progress");
        }
    }
}