@page "/seafood"
@inject HttpClient Http
@using System.ComponentModel.DataAnnotations

<p>What is the name of the tool the Mercury dev team uses to check on the health of the production services?</p>

@if (sealife == null)
{
    <p><em>Loading options...</em></p>
}
else
{
<EditForm Model="@answerModel" OnValidSubmit="HandleValidSubmit">

    @foreach (var animal in sealife)
    {
        <div>
            <label>
                @*<input type="radio" name="animalChoice" value="@animal" @bind-Value="answerModel.Answer" /> @animal*@
                @*<InputRadio name="rate" SelectedValue="@animal" @bind-Value="answerModel.Answer" />  @animal*@
            </label>
        </div>
    }
    <div>
        <label>
            <input type="radio" name="animalChoice" value="None" bind="answerModel.Answer" /> None of the above
        </label>
    </div>

    <button type="submit">Submit</button>
</EditForm>
}



@code {
    private PuzzlePortal.Shared.TextAnswerModel answerModel = new PuzzlePortal.Shared.TextAnswerModel();
    private string[] sealife;

    protected override async Task OnInitializedAsync()
    {
        sealife = await Http.GetFromJsonAsync<string[]>("Sealife");
    }

    private async Task HandleValidSubmit()
    {
        Console.WriteLine($"Selected option: {answerModel.Answer}");

        if (answerModel.Answer == "None")
        {
            sealife = await Http.GetFromJsonAsync<string[]>("Sealife");
        }
        else
        {
            // TODO: check answer
        }
    }
}