@page "/validation"
@using Microsoft.AspNetCore.WebUtilities
@using Cloudcrate.AspNetCore.Blazor.Browser.Storage;
@using PuzzleClient;
@inject HttpClient Http
@inject LocalStorage Storage
@inject NavigationManager NavigationManager

<h1>Completion Validation</h1>

<EditForm Model="@validationModel" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <p>
        <label>ValidationCode</label>
        <InputTextArea @bind-Value="validationModel.Code" />
    </p>
    <button class="btn-primary" type="submit">Check Result</button>
</EditForm>

@if (IsValid)
{
    <div id="valid" class="alert-success">
        <h2>VALID</h2>
    </div>
}
else
{
    <div id="invalid" class="alert-danger">
        <h2>INVALID</h2>
    </div>
}


@code {
    private PuzzlePortal.Shared.ValidationModel validationModel = new PuzzlePortal.Shared.ValidationModel();
    private bool IsValid;

    protected override async Task OnInitializedAsync()
    {
        var query = new Uri(NavigationManager.Uri).Query;
        if (QueryHelpers.ParseQuery(query).TryGetValue("code", out var value))
        {
            validationModel.Code = value;
            await HandleValidSubmit();
        }
    }

    private async Task HandleValidSubmit()
    {
        var message = new HttpRequestMessage
        {
            Method = HttpMethod.Get,
            RequestUri = new Uri("api/ScoreSheet", UriKind.Relative),
        };
        message.Headers.Add("ScoreSheet", validationModel.Code);

        var response = await Http.SendAsync(message);
        IsValid = response.IsSuccessStatusCode;
    }
}
