@using Cloudcrate.AspNetCore.Blazor.Browser.Storage;
@inject LocalStorage Storage

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">PuzzlePortal</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        @*<li class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </li>*@
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="registration" Match="NavLinkMatch.All">
                <span class="oi oi-star" aria-hidden="true"></span> Get Started
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="progress" Match="NavLinkMatch.All">
                <span class="oi oi-bar-chart" aria-hidden="true"></span> Check Progress
            </NavLink>
        </li>
        @if (!string.IsNullOrWhiteSpace(currentPuzzle))
        {
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="@currentPuzzle" Match="NavLinkMatch.All">
                <span class="oi oi-puzzle-piece" aria-hidden="true"></span> Current Puzzle
            </NavLink>
        </li>
        }
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;
    private string currentPuzzle;


    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override void OnInitialized()
    {
        var scoreSheet = Storage.GetItem<PuzzlePortal.Shared.ScoreSheetModel>("scoreSheet");
        if (scoreSheet == null)
        {
            currentPuzzle = null;
        }
        else
        {
            currentPuzzle = PuzzlePortal.Shared.Puzzle.ById[scoreSheet.CurrentPuzzle].Name;
        }
    }
}
